body{
    /*       webpage background      color */
    background-color: ivory;
    margin: 0;
    width: 100vw;
    height: 100vw;
}
a{
    /*     all webpage link attribute       */
    text-decoration: none;
    font-family:serif;
    font-weight: bold;
    color: green;
}
#heading1 {
    /*    Main webpage heading     */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
#navigation_bar {
    /*     webpage navigation bar with four links    */
    
    top: 60px; 
    display: flex;
    border: solid black;
    width: auto;
    margin-left: 20px;
    margin-right: 50px;
    justify-content: right;
    gap: 60px;
    height: 40px;
    align-items: center;
    margin-top: 10px;
    padding-right: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
}
#heading2 {
    /*           second heading on the webpage             */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
#formula_one_car_citation {
    /*        MLA webpage image citation revealed on mouse hover      */
    display: none;
    float: left;
    top: 220px;
    padding-right: 5px;
    padding-left: 40px;
}
#formula_one_car_image {
    /*         main formula one car webpage image after the headings       */
    height: auto;
    width: 100%;   
   float: left;
   padding-bottom: 20px;
   border-radius: 5px;

   
}
#formula_one_car_image:hover + #formula_one_car_citation {
    /*             mouse hover MLA is revealed for the image on the top left corner        */
    display: block;
    float: left;
    font-weight: bold;
    color: black;
    
}
#article1 {
    /*             main article on the webpage             */
    display: flex;
    text-align: justify;
    margin-top: 450px;    
    padding-left: 60px;
    padding-right: 60px;
    border: solid black;
    width: auto;
    margin-left: 20px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: #34eb64;
    word-spacing: 2px;
    line-height: 28px;

}
/*    a flexbox that contains the second image of the formula one car   */
.box_flex_container
{
    display: flex;
    flex-flow: wrap;   
    background-color: transparent;
    margin-left: 20px; 
    margin-right: 40px;  
    top: 800px;    
}
/*        the second image formula one car with a copyright citation      */
#image
{
   float: left;
   width: 100%;
   height: auto;
   margin-top: 40px;   
   margin-right: 40px;
   border-radius: 8px;
}
/*     brief description above the click choices plain text    */
#click-choice
{
    text-align: center;
    font-size: 22px;
    color: black;
}
/*     clickable choices wrapped up in flexbox      */
/*    the first clickable flexbox choice   */
#chassis-link
{
   display: flex;
   border: solid black;
   justify-content: center;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-left: 20px;
   margin-right: 50px;
   background-color: #bebebe;
   font-size: 20px;
   color:beige;
   border-radius: 5px;
}
/*    the second clickable flexbox choice     */
#engine-link
{
    display: flex;
    border: solid black;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 20px;
    background-color:  #aba5a3 ;
    font-size: 20px;
    color: beige;
    border-radius: 5px;
   
}
/*     the third clickable flexbox choice     */
#tire-link
{   
    display: flex;
    border: solid black;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right:  50px;
    margin-left: 20px;
    margin-top: 20px;
    background-color:  #8a8786 ;
    font-size: 20px;
    color: beige;   
    border-radius: 5px;
}
/*     the form section that will include the users full names and email      */
#form_section
{
    padding-left: 20px;
    margin-bottom: 20px;
}
/*      the subscription paragraph plain text   */
#subscription_paragraph
{
    color: black;
    font-size: 17px;
    padding-left: 20px;
}
/*       the form section elements name and text input boxes    */
#form_section2
{
    color: black;
    font-size: 14px;
    padding-left: 20px;
}
#form_input_email_box
{
    margin-bottom: 20px;
}
/*   the final part at the bottom of the webpage wrapped in a flexbox    */
#footer-section
{
    display: flex;
    border: solid black;   
    margin-right: 40px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: white;
}
/*   the media querries for adaptation to different screen sizes this adptation is for 480px and bigger   */
@media  screen and (min-width: 480px) 
{
    /* element tags changes to appeal and fit in smaller screen sizes  */
    #form_input_last_name_box
    {
        padding-right: 10px;
        width: 140px;          
    }
    #form_input_first_name_box
    {
        width: 140px;
    }  
    #navigation_bar
    {
        font-size: 15px;
    }  
    #chassis-link
    {
        background-color: aquamarine;
        color: black;
    }
    #engine-link
    {
        background-color: #95eb34;
        color: black
    }
    #tire-link
    {
        background-color: #8a8786;
        color: black;
    }
    #click-choice
    {
        font-size: 15px;
    }
   
}
/*  the media querries for adaptation to different screen sizes this adptation is for 680px and bigger   */
@media screen and (min-width: 680px)
{
    /*  element tags changes to appeal and fit in bigger screen sizes  */
    #article1
    {
        background-color: aquamarine;
        
    }    
    #navigation_bar
    {
        font-size: 20px;
    }
    #chassis-link
    {
        background-color: silver;
        color: black;
    }
    #engine-link
    {
        background-color: rgb(176, 168, 168);
        color: black
    }
    #tire-link
    {
        background-color: #8a8786;
        color: black;
    }
    #click-choice
    {
        font-size: 22px;
    }
}




